DB_URL="jdbc:mysql://localhost:3306/itjang?createDatabaseIfNotExist=true&useUnicode=true&characterEncoding=utf8&serverTimezone=UTC"
DB_USERNAME=itjang
DB_PASSWORD=itjang
CORS_ALLOWED_ORIGIN=http://localhost:5173
GOOGLE_BOOKS_API_KEY=
